In [27]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import streamlit as st

In [28]:
df = pd.read_csv('WA_Fn-UseC_-Telco-Customer-Churn.csv')
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   object
 20  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

In [30]:
df['TotalCharges'] = pd.to_numeric(df['TotalCharges'], errors='coerce')
df['TotalCharges'] = df['TotalCharges'].astype(float)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7032 non-null   float64
 20  Churn             7043 non-null   object
dtypes: float64(2), int64(2), object(17)
memory usage: 1.1+ MB

In [31]:
new=df['MonthlyCharges']*df['tenure']
df['Anomaly'] =df['TotalCharges']-new
df['Anomaly']=df['Anomaly'].astype(float)
df['ActualCharges']=new
df['ActualCharges']=df['ActualCharges'].astype(float)
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn,Anomaly,ActualCharges
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No,0.00,29.85
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,No,No,One year,No,Mailed check,56.95,1889.50,No,-46.80,1936.30
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes,0.45,107.70
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No,-62.75,1903.50
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes,10.25,141.40

In [32]:
df['PaymentMethod'].unique()

array(['Electronic check', 'Mailed check', 'Bank transfer (automatic)',
       'Credit card (automatic)'], dtype=object)

In [33]:
split=pd.get_dummies(df['PaymentMethod'])
df= pd.concat([df, split], axis=1)
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,PaymentMethod,MonthlyCharges,TotalCharges,Churn,Anomaly,ActualCharges,Bank transfer (automatic),Credit card (automatic),Electronic check,Mailed check
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,Electronic check,29.85,29.85,No,0.00,29.85,False,False,True,False
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Mailed check,56.95,1889.50,No,-46.80,1936.30,False,False,False,True
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,Mailed check,53.85,108.15,Yes,0.45,107.70,False,False,False,True
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Bank transfer (automatic),42.30,1840.75,No,-62.75,1903.50,True,False,False,False
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,Electronic check,70.70,151.65,Yes,10.25,141.40,False,False,True,False

In [34]:
df['Contract'].unique()

array(['Month-to-month', 'One year', 'Two year'], dtype=object)

In [35]:
p=pd.get_dummies(df['Contract'])
df=pd.concat([df, p], axis=1)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 30 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customerID                 7043 non-null   object
 1   gender                     7043 non-null   object
 2   SeniorCitizen              7043 non-null   int64
 3   Partner                    7043 non-null   object
 4   Dependents                 7043 non-null   object
 5   tenure                     7043 non-null   int64
 6   PhoneService               7043 non-null   object
 7   MultipleLines              7043 non-null   object
 8   InternetService            7043 non-null   object
 9   OnlineSecurity             7043 non-null   object
 10  OnlineBackup               7043 non-null   object
 11  DeviceProtection           7043 non-null   object
 12  TechSupport                7043 non-null   object
 13  StreamingTV                7043 non-null   object
 14  StreamingMovies            7043 non-null   object
 15  Contract                   7043 non-null   object
 16  PaperlessBilling           7043 non-null   object
 17  PaymentMethod              7043 non-null   object
 18  MonthlyCharges             7043 non-null   float64
 19  TotalCharges               7032 non-null   float64
 20  Churn                      7043 non-null   object
 21  Anomaly                    7032 non-null   float64
 22  ActualCharges              7043 non-null   float64
 23  Bank transfer (automatic)  7043 non-null   bool
 24  Credit card (automatic)    7043 non-null   bool
 25  Electronic check           7043 non-null   bool
 26  Mailed check               7043 non-null   bool
 27  Month-to-month             7043 non-null   bool
 28  One year                   7043 non-null   bool
 29  Two year                   7043 non-null   bool
dtypes: bool(7), float64(4), int64(2), object(17)
memory usage: 1.3+ MB

In [36]:
df.drop('Contract',axis=1,inplace=True)
df.drop('PaymentMethod',axis=1,inplace=True)

In [37]:
df['InternetService'].unique()
df['InternetService'].value_counts()

InternetService
Fiber optic    3096
DSL            2421
No             1526
Name: count, dtype: int64

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 28 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customerID                 7043 non-null   object
 1   gender                     7043 non-null   object
 2   SeniorCitizen              7043 non-null   int64
 3   Partner                    7043 non-null   object
 4   Dependents                 7043 non-null   object
 5   tenure                     7043 non-null   int64
 6   PhoneService               7043 non-null   object
 7   MultipleLines              7043 non-null   object
 8   InternetService            7043 non-null   object
 9   OnlineSecurity             7043 non-null   object
 10  OnlineBackup               7043 non-null   object
 11  DeviceProtection           7043 non-null   object
 12  TechSupport                7043 non-null   object
 13  StreamingTV                7043 non-null   object
 14  StreamingMovies            7043 non-null   object
 15  PaperlessBilling           7043 non-null   object
 16  MonthlyCharges             7043 non-null   float64
 17  TotalCharges               7032 non-null   float64
 18  Churn                      7043 non-null   object
 19  Anomaly                    7032 non-null   float64
 20  ActualCharges              7043 non-null   float64
 21  Bank transfer (automatic)  7043 non-null   bool
 22  Credit card (automatic)    7043 non-null   bool
 23  Electronic check           7043 non-null   bool
 24  Mailed check               7043 non-null   bool
 25  Month-to-month             7043 non-null   bool
 26  One year                   7043 non-null   bool
 27  Two year                   7043 non-null   bool
dtypes: bool(7), float64(4), int64(2), object(15)
memory usage: 1.2+ MB

In [39]:
i=pd.get_dummies(df['InternetService'])
df=pd.concat([df, i],axis=1)
print(df)
df.drop('InternetService',axis=1,inplace=True)

      customerID  gender  SeniorCitizen Partner Dependents  tenure  \
0     7590-VHVEG  Female              0     Yes         No       1
1     5575-GNVDE    Male              0      No         No      34
2     3668-QPYBK    Male              0      No         No       2
3     7795-CFOCW    Male              0      No         No      45
4     9237-HQITU  Female              0      No         No       2
...          ...     ...            ...     ...        ...     ...
7038  6840-RESVB    Male              0     Yes        Yes      24
7039  2234-XADUH  Female              0     Yes        Yes      72
7040  4801-JZAZL  Female              0     Yes        Yes      11
7041  8361-LTMKD    Male              1     Yes         No       4
7042  3186-AJIEK    Male              0      No         No      66

     PhoneService     MultipleLines InternetService OnlineSecurity  ...  \
0              No  No phone service             DSL             No  ...
1             Yes                No             DSL            Yes  ...
2             Yes                No             DSL            Yes  ...
3              No  No phone service             DSL            Yes  ...
4             Yes                No     Fiber optic             No  ...
...           ...               ...             ...            ...  ...
7038          Yes               Yes             DSL            Yes  ...
7039          Yes               Yes     Fiber optic             No  ...
7040           No  No phone service             DSL            Yes  ...
7041          Yes               Yes     Fiber optic             No  ...
7042          Yes                No     Fiber optic            Yes  ...

     Bank transfer (automatic) Credit card (automatic) Electronic check  \
0                        False                   False             True
1                        False                   False            False
2                        False                   False            False
3                         True                   False            False
4                        False                   False             True
...                        ...                     ...              ...
7038                     False                   False            False
7039                     False                    True            False
7040                     False                   False             True
7041                     False                   False            False
7042                      True                   False            False

     Mailed check Month-to-month One year  Two year    DSL Fiber optic     No
0           False           True    False     False   True       False  False
1            True          False     True     False   True       False  False
2            True           True    False     False   True       False  False
3           False          False     True     False   True       False  False
4           False           True    False     False  False        True  False
...           ...            ...      ...       ...    ...         ...    ...
7038         True          False     True     False   True       False  False
7039        False          False     True     False  False        True  False
7040        False           True    False     False   True       False  False
7041         True           True    False     False  False        True  False
7042        False          False    False      True  False        True  False

[7043 rows x 31 columns]

In [40]:
df.to_csv('output_file.csv', index=False)